@import "../variables";

footer {
  position: fixed;
  bottom:0;
}

.historyChat {
  background-color: lighten($grey,10%);
  color:white;
  height: 300px;
  padding:20px;
  overflow-y: scroll;
}

.msgBy {
  color: greenyellow;
}
.referee {
  color: $dark-accent1;
}

.me {
  color: darkblue;
}


.txt-msg {
  min-width: 400px;
}

