
footer {
  position: fixed;
  bottom:0;
}

.historyChat {
  background-color: #1b6d85;
  color:white;
  min-height: 300px;
  padding:20px;
}

.msgBy {
  color: greenyellow;
}


.txt-msg {
  min-width: 400px;
}

