@import "../variables";

footer {
  position: fixed;
  bottom:0;
}

.historyChat {
  background-color: lighten($grey,10%);
  color:white;
  height: 300px;
  padding:20px;
  overflow-y: scroll;
}

.msgBy {
  color: greenyellow;
}
.referee {
  color: $dark-accent1;
}

.me {
  color: darkblue;
}



#txtMsg {
  color: #000;
  width: 100%;
}

@media (max-width: 500px) {
   .historyChat {
   max-width:95%;
  }
}

.intro {
  font-size: 1.5em;
  font-weight: bold;
}