@import "../variables";

footer {
  position: fixed;
  bottom: 0;
}

.historyChat {
  background-color: lighten($grey, 10%);
  color: white;
  height: 300px;
  padding: 20px;
  overflow-y: scroll;
}

.msgBy {
  color: greenyellow;
}

.referee {
  color: $dark-accent1;
}

.me {
  color: darkblue;
}

form {
  width: 100%;
  display: flex;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.input-group {
  width: 80%;
}

#txtMsg {
  color: #000;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

//@media (max-width: 500px) {
//  .historyChat {
//    max-width: 95%;
//  }
//}

.intro {
  font-size: 1.5em;
  font-weight: bold;
}

.cool-input {
  margin-top: 0.4em;
  background-color: white;
  width: 100%;
  color: black;
  height: 3em;
  //border-top-left-radius:0.5em ;
  //border-bottom-left-radius:0.5em ;
  line-height: 2em;
  input {
    border: 0;
    width: 60%;
    &:focus {
      outline: none;
    }
  }
  .povName {
    @media (max-width: 560px) {
      display: none;
    }
  }
  //@media (max-width: 500px) {
  //  display: flex;
  //  flex-direction: column;
  //}
}

.myBtn {
  margin-top: 0.4em;
  height: 3em;
  border: 0px;
  background-color: #db2021;
  &:hover {
    background-color: #ff2223;

  }
}

