<section>


<h1>{{vm.currentArgue.name}}</h1>
    <div >
        <div class="historyChat">
            <p ng-repeat="msg in vm.msgs">
                <span class="msgBy" ng-class="{'referee': msg.by =='Argument Referee', 'me': msg.by == vm.currentPov}">{{msg.by}}:</span>
                <span>{{msg.txt}}</span>
            </p>
        </div>


        <form class="form-inline" ng-submit="vm.sendMsg()">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">{{vm.currentPov}}</div>
                    <input id="txtMsg" required class="input-lg" placeholder="Your msg here Baya" type="text" ng-model="vm.newMsg.txt"/>

                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-danger" ng-disabled="!vm.argueStarted">Send</button>
        </form>



    </div>


</section>