<section>


    <h1>{{vm.currentArgue.name}}</h1>

    <div>
        <div class="historyChat">
            <p ng-show="vm.msgs.length === 0" class="intro">{{vm.currentPov.intro}}...</p>

            <p ng-repeat="msg in vm.msgs">
                <span class="msgBy"
                      ng-class="{'referee': msg.by =='הבורר', 'me': msg.by === vm.currentPov.name}">{{msg.by}}:</span>
                <span>{{msg.txt}}</span>
            </p>
        </div>


        <form class="form-inline" ng-submit="vm.sendMsg()">
            <input type="hidden" autofocus="true"/>

            <div class="cool-input">
                <span class="povName">{{vm.currentPov.name}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <input class="chatInput" type="text" required ng-model="vm.newMsg.txt" placeholder="הקלידו כאן"/>

            </div>
            <button type="submit" class="myBtn" ng-disabled="!vm.argueStarted">שלח!</button>


        </form>


    </div>


</section>