<section>

    <div class="container">
        <div class="row">

            <div ng-repeat="argue in vm.argues" class="col-md-6">
                <div class="argument">
                    <h2> {{argue.name}}</h2>
                    <img ng-src="images/{{argue.id}}.jpg">

                    <div class="povBtn">
                        <!--<button ng-repeat="pov in argue.pov" class="btn btn-lg" ng-class="'btn-'+$index" ng-click="vm.povClicked(pov,argue)">{{pov}}-->
                        <!--</button>-->
                        <button class="btn btn-lg" ng-click="vm.argueClicked(argue)">Argue Now!
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>


