

.argument {
  background-color: #00b3ee;
    text-align: center;
  padding: 3px;
  margin: 10px;

  button {
    margin: 10px;
  }
}

img {

  @media all and (max-width: 500px) {
    width: 80%;

  }
}

.btn-0 {
  background-color: #1b6d85;
}
.btn-1 {
  background-color:#c0a16b;
}