<section>

    <div class="container">

        <div class="argueSearchBox">
            <label for="searchArgue"></label>
            <input type="text" id="searchArgue" ng-model="filter.name" class="input-lg"
                   placeholder="חפשו ויכוח">
        </div>


        <div class="row">

            <div ng-repeat="argue in vm.argues | filter: {name: filter.name}" class="col-md-6 animate-repeat" >
                <div class="argument">
                    <h2> {{argue.name}}</h2>
                    <img ng-src="images/{{argue.id}}.jpg">

                    <div class="povBtn">

                        <a href="#/argue/{{argue.id}}" class=" btn-primary btn-lg " ng-click="vm.argueClicked(argue)">התחילו ויכוח!</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>


