<section>

    <div class="argument">
        <h2> {{vm.currentArgue.name}}</h2>
        <img ng-src="images/{{vm.currentArgue.id}}.jpg">

        <div class="povBtn">
            <button ng-repeat="pov in vm.currentArgue.pov" class="btn btn-lg" ng-class="'btn-'+$index"
                    ng-click="vm.povClicked(pov)">{{pov.name}}
            </button>
        </div>
    </div>

    <div class="approved">
        על ידי כניסה לויכוח את/ה מאשר/ת את
        <a href="#/about">
            תנאי השימוש באתר
        </a>
    </div>

</section>