
@import "chat/chat";
@import "home/home.css";
@import "argue/argue.css";
@import "variables";



.header {
  background-image: url("images/the_wall.jpg");
  background-color: $grey;
}


footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;

}


.siteHeadline {
  text-align: center;
  margin: 25px 15px;
  float: right;

}

.siteHeadImg {
  width: 50%;
  margin: 25px auto 0 auto;


}

.nav {
  display: inline;
  a {
    color: $dark-accent2;
  }
}

