@import "chat/chat";
@import "home/home.css";
@import "argue/argue.css";
@import "variables";

.header {
  background-image: url("images/the_wall.jpg");
  width: 100%;
  height: 12em;
  //background-color: $grey;
  //content: "";
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;

}

.siteHeadline {
  text-align: center;
  margin: 15px 15px;
  float: right;

}

.siteHeadImg {
  width: 50%;
  margin: 10px auto 0 auto;

}

#siteHeadImg {
  animation-duration: 0.7s;
}

.nav {
  display: inline;

  a {
    color: $dark-accent2;
    display: block;
    background-color: lighten($grey, 20%);
  }

}

